In [3]:
import pymongo

# connect client

In [4]:
# connect client
client = pymongo.MongoClient('mongodb://13.209.21.50')
client

MongoClient(host=['13.209.21.50:27017'], document_class=dict, tz_aware=False, connect=True)

# create db: "mongodb"

In [5]:
# "mongodb" 생성
db = client.mongodb
db

Database(MongoClient(host=['13.209.21.50:27017'], document_class=dict, tz_aware=False, connect=True), 'mongodb')

# create collection(table): "city"

In [6]:
# select collection(table): city
city_collection = db.city
city_collection

Collection(Database(MongoClient(host=['13.209.21.50:27017'], document_class=dict, tz_aware=False, connect=True), 'mongodb'), 'city')

# insert

In [7]:
# insert one
query = {"city_name":"Seoul", "Population":9700000}
result = city_collection.insert_one(query)
result

In [8]:
#insert many
query = [
    {"city_name":"Busan" , "Population":3400000},
    {"city_name":"인천" , "Population":2900000},
    {"city_name":"대구" , "Population":2400000}
]
result = city_collection.insert_many(query)
result

# check insert status

In [9]:
# insert 여부 확인
result.inserted_ids

[ObjectId('5c19d4a591156b3a74602e53'),
 ObjectId('5c19d4a591156b3a74602e54'),
 ObjectId('5c19d4a591156b3a74602e55')]

In [10]:
# insert 확인
result.acknowledged

True

In [12]:
# show collection(table) list
db.list_collection_names()

['city']

# find document(row)

In [13]:
# find_one
query = {"city_name":"Busan"}
document = city_collection.find_one(query)
document

{'_id': ObjectId('5c19d4a591156b3a74602e53'),
 'city_name': 'Busan',
 'Population': 3400000}

In [17]:
# find_many
query = {"city_name": 
         {"$in":["Seoul", "Busan"]}
        }
documents = city_collection.find(query)
documents

In [18]:
# list(documnets): iterator -> 일회용
datas = list(documents)
len(datas), datas

(2,
 [{'_id': ObjectId('5c19d42c91156b3a74602e52'),
   'city_name': 'Seoul',
   'Population': 9700000},
  {'_id': ObjectId('5c19d4a591156b3a74602e53'),
   'city_name': 'Busan',
   'Population': 3400000}])

In [19]:
list(documents)

[]

# projection: find -> list

In [22]:
query = {"city_name": 
         {"$in":["Seoul", "Busan"]}
        }
documents = city_collection.find(
    query, 
    projection={"city_name":True},
)
result = list(documents)
result

[{'_id': ObjectId('5c19d42c91156b3a74602e52'), 'city_name': 'Seoul'},
 {'_id': ObjectId('5c19d4a591156b3a74602e53'), 'city_name': 'Busan'}]

In [25]:
documents = city_collection.find({"Population":{"$gt":30000}})
documents.count()

4

# 정렬

In [27]:
pymongo.DESCENDING, pymongo.ASCENDING

(-1, 1)

In [28]:
documents = city_collection.find({}).sort("Population", pymongo.ASCENDING)
for document in documents:
    print(document["city_name"], document["Population"])

대구 2400000
인천 2900000
Busan 3400000
Seoul 9700000