### SQLAlchemy
- 파이썬 용도 ORM(java 하이버네이트) 
    - object Reactional Mapping
    - RDBMS 만 가능. NoSQL안됨.
- 데이터 베이스의 테이블에 매핑이 되는 클래스를 선언해서 사용
- SQL 문법을 사용하지 않고 함수형태로 사용하여 데이터 베이스에 CRUD
- 장점 : 사용하는 DB 변경하고 싶을 때, 접속하는 엔진의 정보만 바꾸면 됨
     - 오라클, sql 등등 변경시 쿼리문 다 바꿔야 하는데, 그렇게 하지 않아도 됨

In [2]:
from sqlalchemy import *
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

# connect DB

In [3]:
engine = create_engine("mysql://root:password@13.209.21.50/world")
engine

Engine(mysql://root:***@13.209.21.50/world)

# create MVC(Model View Control)
- class Database_Name
- 데이터 베이스 테이블과 매핑되는 클래스 생성
- (테이블에 있는 구조와 매핑)
- MVC(Model View Control)
    - model: data형태
    - view: template
    - control: model과 view연결(article.py)

In [12]:
# user db
base = declarative_base()

class User(base):
    __tablename__ = "user"
    
    # set col
    user_id = Column(Integer, primary_key=True)
    name = Column(String(20))
    email = Column(String(20))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
    
    def __repr__(self):
        return "<User {},{},{},{}>".format(self.name, self.email,\
                                         self.age, self.rdate)

In [13]:
base

sqlalchemy.ext.declarative.api.Base

# base 객체에 engine 설정

In [14]:
base.metadata.create_all(engine)

# set session
- session 통해 모델 주고 받음

### session.method(class_name(code))

In [18]:
maker = sessionmaker(bind=engine)
session = maker()
session

# CRUD

### insert

In [22]:
user = User("jin", "jin@gmail.com", "30", "2016-01-01")
session.add(user)

In [20]:
users = [
    User("andy", "andy@gmail.com", "20", "2016-02-01"),
    User("data", "data@gmail.com", "40", "2018-02-01"),
]
users
session.add_all(users)

[<User andy,andy@gmail.com,20,2016-02-01>,
 <User data,data@gmail.com,40,2018-02-01>]

In [23]:
# 동기화
session.commit()

In [26]:
# rollback: session data 지움
session.rollback()

### read
- query method

In [27]:
results = session.query(User).all()
list(results)

[<User jin,jin@email.com,30,2018-01-01 00:00:00>,
 <User Andy,andy@daum.net,30,2018-01-02 00:00:00>,
 <User data,data@daum.net,40,2018-01-03 00:00:00>,
 <User Andy,andy@daum.net,20,2018-01-02 00:00:00>,
 <User data,data@daum.net,40,2018-01-03 00:00:00>,
 <User jin,jin@gmail.com,30,2016-01-01 00:00:00>,
 <User andy,andy@gmail.com,20,2016-02-01 00:00:00>,
 <User data,data@gmail.com,40,2018-02-01 00:00:00>,
 <User jin,jin@gmail.com,30,2016-01-01 00:00:00>]

- select

In [28]:
results[3]

- filter

In [29]:
results = session.query(User).filter(User.name == 'jin')
list(results)

[<User jin,jin@email.com,30,2018-01-01 00:00:00>,
 <User jin,jin@gmail.com,30,2016-01-01 00:00:00>,
 <User jin,jin@gmail.com,30,2016-01-01 00:00:00>]

- filter with in

In [30]:
results = session.query(User).filter(User.name.in_\
                                    (["andy", "jin"]))
list(results)

[<User jin,jin@email.com,30,2018-01-01 00:00:00>,
 <User Andy,andy@daum.net,30,2018-01-02 00:00:00>,
 <User Andy,andy@daum.net,20,2018-01-02 00:00:00>,
 <User jin,jin@gmail.com,30,2016-01-01 00:00:00>,
 <User andy,andy@gmail.com,20,2016-02-01 00:00:00>,
 <User jin,jin@gmail.com,30,2016-01-01 00:00:00>]

- filter with ~(not)

In [31]:
results = session.query(User).filter(~User.name.in_\
                                    (["andy", "jin"]))
list(results)

[<User data,data@daum.net,40,2018-01-03 00:00:00>,
 <User data,data@daum.net,40,2018-01-03 00:00:00>,
 <User data,data@gmail.com,40,2018-02-01 00:00:00>]

- filter with or

In [32]:
results = session.query(User).filter\
(or_(User.name=='jin', User.age==40))
list(results)

[<User jin,jin@email.com,30,2018-01-01 00:00:00>,
 <User data,data@daum.net,40,2018-01-03 00:00:00>,
 <User data,data@daum.net,40,2018-01-03 00:00:00>,
 <User jin,jin@gmail.com,30,2016-01-01 00:00:00>,
 <User data,data@gmail.com,40,2018-02-01 00:00:00>,
 <User jin,jin@gmail.com,30,2016-01-01 00:00:00>]

- order by

In [33]:
# results = session.query(User).order_by(User.age.desc())
results = session.query(User).order_by(User.age.asc())
list(results)

[<User Andy,andy@daum.net,20,2018-01-02 00:00:00>,
 <User andy,andy@gmail.com,20,2016-02-01 00:00:00>,
 <User jin,jin@email.com,30,2018-01-01 00:00:00>,
 <User Andy,andy@daum.net,30,2018-01-02 00:00:00>,
 <User jin,jin@gmail.com,30,2016-01-01 00:00:00>,
 <User jin,jin@gmail.com,30,2016-01-01 00:00:00>,
 <User data,data@daum.net,40,2018-01-03 00:00:00>,
 <User data,data@daum.net,40,2018-01-03 00:00:00>,
 <User data,data@gmail.com,40,2018-02-01 00:00:00>]

- count

In [34]:
results = session.query(User).filter\
(User.name.in_(['jin','andy'])).count()
results

6

### update

In [35]:
andy = session.query(User).filter(User.name == "andy")
list(andy)

[<User Andy,andy@daum.net,30,2018-01-02 00:00:00>,
 <User Andy,andy@daum.net,20,2018-01-02 00:00:00>,
 <User andy,andy@gmail.com,20,2016-02-01 00:00:00>]

In [36]:
andy[0].age = 80
andy[0]

In [37]:
session.commit()

### delete

In [39]:
results = session.query(User).filter(User.name == "andy")
results.delete()

3

In [40]:
session.commit()

# close

In [47]:
session.expire_all()
session